
.colorFondo{
    background-color: #70C1A7;
}

.fotoDePerfil {
    width: 40%;
    height: auto;
    margin-top: 40px;
    margin-left: 35%;
}

.botonesInfo {
    display: flex;
    justify-content: center;
}

.separarBotones {
        margin: 5%;
        border-radius: 5px;
}

.resumenSobreMi {
    text-align: center;
    margin-top: 20px;
    font-family: 'Courgette', cursive;
    font-family: 'Shantell Sans', cursive;
}

.resumenSobreMi p {
    margin: 2%;
    font-family: 'Courgette', cursive;
    font-family: 'Shantell Sans', cursive;
}

.titulos {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-family: 'Courgette', cursive;
    font-family: 'Shantell Sans', cursive;
}

tituloCV {
    font-family: font-family: 'Courgette', cursive;
    font-family: 'Shantell Sans', cursive;
}

.subtituloEducacion {
   margin: 5%;
}

.educacion{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1024px) {
footer div h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 25px; }

/* PARA CENTRAR ICONOS*/
.fooLogosRedes {
    display: flex;
    justify-content: center; }
  
  .fooLogosRedesSinTitulo {
    margin-top: 50px; }
  
  /*PARA SEPARAR ICONOS ENTRE ELLOS*/
  .footer_icono {
    margin: 20px;
    padding: 25px; }

    .fooLogosRedes {
        margin-left: 400px;
        margin-right: 400px;
        border-radius: 25px; }
      /*ANIMACIONES ICONOS REDES SOCIALES*/
      .animacionLK {
        height: 100px;
        width: auto;
        transition: height 0.5s; }
      .animacionLK:hover {
        height: 110px;
        width: auto; }
      .animacionIG {
        height: 100px;
        width: auto;
        transition: height 0.5s; }
      .animacionIG:hover {
        height: 110px;
        width: auto; }
      .animacionBH {
        height: 100px;
        width: auto;
        transition: height 0.5s; }
      .animacionBH:hover {
        height: 110px;
        width: auto; }
      /*FIN ANIMACION ICONOS REDES SOCIALES*/ 

    }


    @media only screen and (max-width: 768px) {
/* MOBILE */

.fotoDePerfil {
    width: 90%;
    height: auto;
    margin-top: 40px;
    margin-left: 15%;
}

footer div h3 {
    display: none; }
  .fooLogosRedes {
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
    border-radius: 25px; }
  .footer_icono {
    margin: 5px;
    padding: 5px;
    height: 45px;
    width: auto; }

}